# Data Cleaning_ Exhibitor profile

In [1]:
import pandas as pd

In [3]:
#datasets
exhibitor_categories = pd.read_csv("../source/exhibitor_categories.csv")
exhibitors = pd.read_csv("../source/exhibitors.csv")

In [92]:
exhibitor_categories.head()

   categoryId                        categoryName
0       52271           1. Accomodation providers
1       52272       1.1 Hotel / Hotel chain / Inn
2       52273  1.2 Apartments / Residential hotel
3       52274                  1.3 Hostel / Motel
4       52275                  1.4 Boarding house

In [94]:
exhibitors.head()

   exhibitorid                    Name                       MainCategories
0        90556          Turkey Travels                    52276|52280|52281
1        92462  Russian Travel Company  52273|52283|52289|52291|52298|52302
2        92491   Indian Travel Company                    52273|52274|52281
3        92492            Asia Tourism              52272|52276|52352|52358
4        92493     SriLanka Adventures                    52296|52327|52352

In [96]:
# Check for missing or duplicate values
exhibitor_categories.isnull().sum()
exhibitor_categories.duplicated().sum()

0

In [98]:
exhibitor_categories['categoryName'] = exhibitor_categories['categoryName'].str.strip()

In [100]:
# Step 1: Split the pipe-separated string into lists
exhibitors['MainCategories'] = exhibitors['MainCategories'].str.split('|')

# Step 2: Explode the list into multiple rows
exhibitor_cleaned = exhibitors.explode('MainCategories')

# Step 3: Convert category IDs to integers for safe merging
exhibitor_cleaned['MainCategories'] = exhibitor_cleaned['MainCategories'].astype(int)

In [102]:
exhibitor_cleaned.head(2)

   exhibitorid            Name  MainCategories
0        90556  Turkey Travels           52276
0        90556  Turkey Travels           52280

In [104]:
exhibitor_with_categories = exhibitor_cleaned.merge(
    exhibitor_categories,
    left_on='MainCategories',
    right_on='categoryId',
    how='left'
)

In [106]:
exhibitor_final = exhibitor_with_categories[[
    'exhibitorid', 'Name', 'MainCategories', 'categoryName'
]].rename(columns={
    'MainCategories': 'categoryId'
})

In [108]:
exhibitor_final.head()

,exhibitorid,Name,categoryId,categoryName
0,90556,Turkey Travels,52276,1.5 Resort hotel
1,90556,Turkey Travels,52280,2.1 Inbound tour operator
2,90556,Turkey Travels,52281,2.2 Outbound tour operator
3,92462,Russian Travel Company,52273,1.2 Apartments / Residential hotel
4,92462,Russian Travel Company,52283,2.4 Mass market tour operators

In [110]:
exhibitor_final.to_csv("exhibitor_final.csv", index=False)

In [112]:
exhibitor_final.shape

(183, 4)